section, article, aside, footer, header, nav, hgroup {
	display: block;
}

body {
    font-size: 16px;
    font-family: 'Alegreya SC';
	color: #505260;
    background-color: #e3e4fa;
}

canvas {
	display: inline
}

a {
	color: #505260;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

form {
    margin: 0;
    padding: 0;
    display: inline;
}

input {
    display: inline;
}

textarea:focus, input:focus{
    outline: none;
}

[contentEditable=true]:empty:not(:focus):before {
    content:attr(data-text)
}

.fa {
    font-size: 24px;
}

.flash {
	background-color: #efefef;
}

.menu {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.menu_timer {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 70px;
}

.menu_nav {
    display: inline-block;
    margin-bottom: -3px;
    text-align: center;
	vertical-align: middle;
    width: 70px;
}

.menu_score {
    margin-bottom: 1px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 220px;
}

.select-player { 
	display: inline;
    font-size: 16px;
    font-family: 'Alegreya SC';
    color: #444;
    line-height: 1.2;
    padding: 2px 6px 1px 6px;
    margin: 1px;
    border-radius: .3em;
	outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}

#wrapper { 
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}

#board {
    padding-top: 3px;
	text-align: center;
}

#header {
	font-family: 'Alegreya SC';
	font-size: 22px;
    line-height: 1.5em;
	text-align: center;
	vertical-align: middle;
    margin: 0 auto;
}

#spinner {
    position: fixed;
    left: 0px;
    top: 0px;
    float: left;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/spinner.svg') 50% 50% no-repeat;
    opacity: 0.4;
}

#counter {
    display: inline;
}

.float-div {
    display: none;
    float: left;
    position: absolute;
}

.float-box {
    background-color: #e8e8e8;
    border: solid 1px #666;
    border-radius: 10px;
    line-height: 1.5em;
    color: #666;
    font-size: 16px;
    font-family: 'Alegreya SC';

}

#rp-list {
    min-width: 400px;
    padding: 6px 20px;
    text-align: left;
    left: 35%;
} 

#pwd {
    width: 300px;
    height: 1.5em;
    padding: 5px 20px;
}

#msg {
    width: 300px;
    height: 1.5em;
    padding: 5px 20px;
}

#title {
    margin-bottom:5px;
    margin-top:0;
    font-family: 'Alegreya SC';
    font-size: 38px;
}

.overflow {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.inline-block {
    display: inline-block;
}

.inline-block-fixed {
    display: inline-block;
    vertical-align: top;
}

#prob {
	text-align: center;
    margin: 0 auto;
    width: 568px;
    height: 20px;
    border: solid 1px #444;
    font-size: 16px;
}

#black-wp {
	text-align: center;
    width: 50%;
    height: 100%;
    background-color: #444;
    color: #eee;
}

#white-wp {
	text-align: center;
    width: 50%;
    height: 100%;
    background-color: #eee;
    color: #444;
}


